# Database
DATABASE_URL=

# Server
PORT=5000

# Application
APP_NAME=AGESET V2
APP_ENV=development

# JWT
JWT_SECRET=

# Email
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=

# SMS
SMS_API_KEY=

# M-Pesa
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=